<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/style.css"/>
</head>
<body>

	<section ui-view></section>

	<script type="text/javascript">
		window.user = <%- JSON.stringify(user) || 'null' %>;
	</script>


	
	<!-- libraries -->
	<script type="text/javascript" src="/lib/angular/angular.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
	
	<!-- notes -->
	<script type="text/javascript" src="/notes/notes.client.module.js"></script>
	<script type="text/javascript" src="/notes/controllers/notes.client.controller.js"></script>
	<script type="text/javascript" src="/notes/services/notes.client.service.js"></script>
	<!-- <script type="text/javascript" src="/notes/config/notes.client.routes.js"></script> -->

	<!-- app -->
	<script type="text/javascript" src="/app.js"></script>
</body>
</html>