<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/signin.css"/>
</head>
<body>

  <div  class="container">

    <form action="/signup" method="post" class="form-signin">
      <label for="email" >Email</label>
      <input  id="email" name="email" class="form-control" placeholder="Email Adress" required autofocus>
      <label for="username" >Username</label>
      <input  id="username" name="username" class="form-control" placeholder="Username" required>
      <label for="password" >Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

			<div>
				<p>Possui conta? <a href="/signin">Clique aqui</a></p>
			</div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
    </form>

  </div> 

</body>


<!-- <head>
	<title><%= title %></title>
</head>
<body>

	<form action="/signup" method="post">
		<div>
			<label>Email:</label>
			<input type="text" name="email" />
		</div>
		<div>
			<label>Username:</label>
			<input type="text" name="username" />
		</div>
		<div>	
			<label>Password:</label>
			<input type="password" name="password" />
		</div>
		<div>
			<input type="submit" value="Sign up" />
		</div>
	</form>
</body> -->
</html>