<header>
	<nav id="menu">
		<ul class="horizontalList">
			<li><a ng-click="addNote()" id="add-link" href="#" title="Add a note.">+</a></li>
			<li><a href="/signout" title="Sign Out."><i class="ion-log-out"></i></a></li>
<!-- 			<li><input type="text" id="search-text" name="search-text" placeholder="Search"/> <span><a href="#" id="clear-search">x Clear search</a></span></li> -->
		</ul>
	</nav>
</header>

<section id="content">			
	<ul id="notes" class="ui-sortable">
<!-- 	<li class="note" ng-repeat="note in notes track by $index">
		<my-note note="note"></my-note>
		<p class="actions"  ng-click="delete(note)"><a href="#" class="delete">Delete</a></p>
	</li> -->
	
	<li class="note" ng-repeat="note in notes track by $index">
		<div class="content-wrapper" style="background-color: rgb(255, 247, 153);">
			<div ng-click="edit(note)" ng-bind-html="note.text" ng-model="note.text"
				  class="content" contenteditable="true" on-edit="saveEdits(note)" on-escape="revertEdits(note)">
			</div>
		</div>
		<p class="actions"  ng-click="delete(note)"><a href="#" class="delete">Delete</a></p>
	</li>
		
	</ul>
</section>	